body,input,select
{
	font-family: 'Microsoft Yahei', Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #333333;
}

.modal {
	position: absolute;
}


/*main-content*/
.main-content
{
	top: 50px;
}

/*middle tool bar*/

.left
{
	width: 200px;
	float: left;
}


/*left tree*/
.left-tree
{
	height:100%;
	border: 1px solid #f1f1f1;
}

.left-tree-top
{
	width:192px;
	background-color: #F1F1F1;
	padding: 4px;
}

.icon-backward
{
	margin-top: 6px;
	margin-right:20px;
	float: right;
	cursor: pointer;
}

.left-nav .icon-clear
{
	margin-top: 6px;
	margin-right:5px;
	float: right;
	cursor: pointer;
}

.left-nav > .nav-list
{
	padding: 0px;
}

.left-nav li a
{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

.left-nav > .nav-list > li > a
{
	display: block;
	margin: 0 0 -1px;
	padding: 4px 20px 4px 20px;!important;
	font-size: 12px;
}

.left-nav .icon-chevron-right
{
	float: right;
	margin-left: 4px;
}

.admin
{
	display:none;
}

.icon-locked 
{
	background-image: url(../images/admin/locked.png);
}

.icon-active
{
	background-image: url(../images/admin/active.png);
}

.icon-lock 
{
	background-image: url(../images/admin/unlock.png);
}

.icon-delete
{
	background-image: url(../images/admin/delete.png);
}

.icon 
{
	width:39px;
	background-position: 0% 40%;
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-top: 2px;
	padding-bottom: 3px;
}

.radioType
{
	margin: -1px 0px 0px 0px;
}

.s_m_div select
{
	width:220px !important;
	height:200px;
}

.form-horizontal .control-label
{
	padding-top:0px !important;
}

.large-modal
{
	width: 880px;
	margin-left: -550px;
}

.part_actions
{
	float:left;
}

.actions_ul
{
	min-height:200px;
	max-height:500px;
}

.cfg
{
	background: rgb(236, 236, 236);
}

.part_actions select option
{
	padding : 2px 5px;
}

.part_users
{
	float:left;
	margin-left:20px;
}

.part_users select
{
	width:220px;
}

.role-option {
	color:green;
}
