body {
	margin: 0;
	pading: 0;
	text-align: left;
	font-family: Arial, sans-serif, Helvetica, Tahoma;
	font-size: 12px;
	line-height: 1.5;
	color: black;
/* 	background-image: url(/images/svg_img/bg.png); */
}

#myflow 
{
	position: relative;
	border: 2px solid #aaa;
	width: 1200px;
	height: 640px;
}

#myflow_tools
{
	position: relative;
	left: 10px;
	float: left;
	width: 80px;
	cursor: default;
	border: 2px solid #aaa;
}

.type_change
{
  margin-bottom: 3px;
  font-size: 13px;
  margin: 3px auto;
  width: 200px;
  overflow: hidden;
}

.type_change div
{
	padding:8px 20px;
	background: rgb(203, 203, 203);
	cursor:pointer;
}

.type_change .active
{
 	background: rgb(194, 138, 138);
  	color: #fff;
}

.node {
	text-align: center;
	vertical-align: middle;
	border: 1px solid #fff;
	cursor:pointer;
}

.node > img{
	width:16px;
	height:16px;
}
.mover {
	border: 1px solid #ddd;
	background-color: #ddd;
}

.selected {
	background-color: #ddd;
}

.state {
	
}

#myflow_props table {
	
}

#myflow_props th {
	letter-spacing: 2px;
	text-align: left;
	padding: 6px;
	background: #ddd;
}

#myflow_props td {
	background: #fff;
	padding: 6px;
}

#pointer {
	background-repeat: no-repeat;
	background-position: center;
}

#path {
	background-repeat: no-repeat;
	background-position: center;
}

#task {
	background-repeat: no-repeat;
	background-position: center;
}

#state {
	background-repeat: no-repeat;
	background-position: center;
}

.grabbing { cursor: url(../images/svg_img/closedhand.cur), pointer !important; }

#mapContainer {position:relative; margin:0 0 0 20px}
#mapControls { position: absolute; left: 15px; top: 300px; width: 29px;}
#search { 
  position: absolute;
  top: 10px;
  right: 10px;
}
#up { background: url(../images/svg_img/iconUp.png) no-repeat center top; display: block; height: 26px; width: 29px; }
#down { background: url(../images/svg_img/iconDown.png) no-repeat center top; display: block; height: 27px; width: 29px; }

#flowNormalAction { position: absolute; left: 15px; top: 20px; width: 60px;}
#edit { background: url(../images/svg_img/edit.png) no-repeat center top; display: block; height: 26px; width: 60px; }
#look { background: url(../images/svg_img/look.png) no-repeat center top; display: block; height: 26px; width: 60px; }
#del { background: url(../images/svg_img/del.png) no-repeat center top; display: block; height: 26px; width: 60px; }

#myflow_tools_handle
{
	background: #ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222;
	font-weight: bold;
	height: 25px;
	line-height: 25px;
	background: rgb(176, 99, 99);
	font-weight: bold;
	color: #F5EFEF;
	font-size: 15px;
	border: 1px solid #AAA;
}

.addMoreRole
{
	display: inline-block;
	border: 1px solid rgb(222, 222, 222);
	background: #f6f6f6;
	padding: 4px 10px;
	border-radius: 5px;
}

.addMoreRole a
{
	text-decoration:none;
}

.addMoreRole:hover
{
	background: #FFF;
}

.list-add
{
	background:url('../images/list-add.png');
	height: 15px;
	width: 15px;
}