/*bootstrap related css style*/

.form-horizontal .controls {
	margin-left: 130px;
	+margin-left : 0px;
}

.form-horizontal .control-group {
	margin-bottom: 0px;
	*margin-bottom: 8px;
}

form
{
	margin : 5px 0px;
}

.control-group .control-label
{
	width: 120px;
	text-align: left;
}

.control-label
{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.controls label
{
	text-overflow: ellipsis;
	word-break: break-all;
	overflow-x : hidden;
}
.ke-statusbar
{
	display: none;
}
.paddingLeft
{
	padding-left: 5px;
}

.control-label
{
	cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices {
	background: none;	
}

input[readonly], select[readonly], textarea[readonly] {
	cursor: text;
	border: 1px solid #d9d9d9;
	background: none;
}

label, select, button, input[type="button"], input[type="reset"], input[type="submit"], input[type="radio"], input[type="checkbox"] {
	cursor: text;
}
.row-fluid [class*='span']
{
	*min-height: 20px;
}
.select2-container-multi .select2-choices .select2-search-field input 
{
	cursor: default;
}

.select2-search input
{
	*padding-right:0px;
	*padding-left:0px;
	*margin-left:-5px;
}
/*end of bootstrap related css style*/

.container-fluid
{
	//padding: 0px;
}

.titleContent
{
	margin-top : 80px;
	padding-top:5px;
}

.mainContent
{
	margin-top: 2px;
}

.logContent
{
	margin-top: 2px;
}

.contentTitle 
{
	padding: 5px 7px;
	*padding: 5px 7px 0px 7px;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

.contentTitle h3 
{
	font-size: 12px;
}

#topSubmitDiv
{
	position: fixed;
	left: 34%;
	top: 5px;
	height: 40px;
	z-index: 10001;
}

#layoutContent .multiLine
{
	min-height: 90px;
	border: 1px solid #e1e1e1;
}

.singleLine
{
	min-height:30px;
	//max-height: 90px;
	line-height: 30px;
}
#descriptionDiv
{
	+margin-left: 0px;
	padding-right:10px;
}

#ttip
{
	position:absolute;
	border:1px solid #dcdcdc;
	background:#f3f3f3;
	padding:1px;
	color:#333;
	display:none;
	z-index: 100009;
	
/* 	position: absolute; */
/* 	color: #3a87ad; */
/* 	background-color: #d9edf7; */
/* 	border-color: #bce8f1; */
/* 	padding: 8px 35px 8px 14px; */
/* 	margin-bottom: 20px; */
/* 	text-shadow: 0 1px 0 rgba(255,255,255,0.5); */
/* 	border: 1px solid #fbeed5; */
/* 	-webkit-border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	border-radius: 4px; */
/* 	z-index: 100009; */
}

.winTitle
{
	height: 20px;
	background-color: #f7f7f7;
}
.title_right
{
	float: right;
	margin-right: 10px;
}

.title_left
{
	float: left;
	margin-left: 10px;
}

.winContent
{
	//background-color: #d9edf7;
	border-color: #bce8f1;
	padding: 8px 35px 8px 14px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	border: 1px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	word-break: break-word;
}

.titleContent .onlyRead
{
	border: none;
	//background-color: white;
}
.titleContent input
{
	min-height: 25px;
}

.titleContent .control-label {
	display: block;
	margin-bottom: 2px;
}

.topBtnGroup
{
	background-color: white;
	height: 40px;
	border-bottom: 1px solid #F1F1F1;
	padding-top: 4px;
	//padding-left: 10px;
	position: fixed;
	top: 40px;
	z-index: 10000;
}

#layoutContent .text-large
{
	min-height: 180px;
}

.select2-container .select2-choice {
	background-image: none;	
}

#layoutContent .icon-heart-empty
{
	cursor: pointer;
	margin-left: 4px;
}
/*font related*/
.noEmpty
{
	color: green;
	font-weight: bold;	
}

.no_care_font
{
	color: #b9b9b9;
}	

.must_font
{
	color: red;
}

.common_font
{
	color:black;
}

#logContentDiv td
{
	font-size: 12px;
}

#logContentDiv img
{
	max-width: 100px;
}
.log_field_name
{
	max-width: 20%;
	min-width: 20%;
	width: 20%;
}

.log_field_content
{
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 40%px;
	min-width: 40%;
	width: 40%;
}

#send_mail_win
{
	z-index:99999;
}
#header_img
{
	margin-right: 40px;
}
label, input, button, select, textarea {
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input 
{
	font-size : 12px;
	font-family: 'Microsoft Yahei',verdana;
}

#titleSpan 
{
	margin-left:300px;
	margin-right:20px;
	margin-top:-25px;
	display: block;     
	width: 80%;     
	overflow: hidden;/*注意不要写在最后了*/     
	white-space: nowrap;     
	-o-text-overflow: ellipsis;     
	text-overflow: ellipsis;  
}

.tagColorSpan 
{
	border-radius: 3px;
	height: 12px;
	width: 12px;
	border: 1px solid #BEBABA;
	margin: 3px 4px 0px 2px;
	float: left;
	line-height: 12px;
}

#s2id_select_taskAssignUser .select2-search-choice
{
	max-width: 50px;
	word-wrap: break-word;
	text-overflow: ellipsis;
	overflow: hidden;
	max-height: 20px;
	white-space: nowrap;
}

.i-checkbox
{
	display: inline-block !important;
	height:14px !important;
	width:14px !important;
}